:root {
    --main-color: #1d4f12;
    --secondary-color: #e1011b;
    --highlight-color: #59a931;
    --body-color: #555;
    --title-color: #333;
}

a {
    color: var(--main-color)
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: var(--body-color);
}

h1, h2, strong {
    color: var(--title-color);
}
